<div *ngIf="fileContent">
  <mat-card class="px-4 pt-2 pb-4 mt-5">
    <div class="row">
      <div class="col-12">
        <div>{{ fileContent }}</div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <button mat-button class="main-btn main font-14 text-white px-4 mb-2" (click)="countWords()">
          {{ 'ACTIONS.COUNT_WORDS' | translate }}
        </button>
      </div>
    </div>
    <div>
      <h3>
        {{ 'COMMON.REPEATED_WORDS' | translate }}
      </h3>
    </div>
    <div *ngFor="let item of wordOccurrences | keyvalue" class="mb-2">
      <div class="text-primary">{{ item.key }}: {{ item.value }}</div>
    </div>
  </mat-card>
</div>
